.container-fluid {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-grow: 1;
}

.container {
    flex-grow: 1;
}

.chart-container {
    margin: auto;
    display: flex;
    justify-content: center;
    height: 300px;
    width: 500px;
  }