.container-fluid {
    display: flex;
    flex-direction: column;
    
}

.content-charts {
    display: flex;
    flex-grow: 1;
    padding: 60px;
}

.container {
    flex-grow: 1;
}

.chart-container {
    margin: auto;
    display: flex;
    justify-content: center;
    height: 300px;
    width: 500px;
}

.content-charts button[type="top-button"]{
    width: 140px;
    height: 50px;
    margin-right: 10px;
    float: right;
}
