.main-container{
    padding: 60px;
    /* margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}


.main-container button {
    width: 120px;
    height: 50px;
    background: lightgray;
    margin-right: 10px;
    float: right;
}

.main-container button[type="analysis"] {
    background: silver;
}

.main-container button[type="delete"] {
    background: #d43543;
}

.main-container .form-control {
    height: 50px;
    background: whitesmoke;
    color: gray;
}

.main-container .form-control:focus {
    color: black;
}

.map-container{
    border-style: solid;
    border-radius: 25px;
    height: 350px;
}
.main-container h2{
    text-align: center;
}

.field-details-container{
    margin-left: 25px;
}