.header {
width: 100%;
height: 70px;
}

.navbar {
width: 100%;
}

.large-font {
font-size: 1.1em; /* Adjust this value to get the desired font size */
}

.navbar-text.active {
color: #f1f1f7e9; /* Dark gray color when the link is active */
}