.home-container {
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    /* padding: 70px 150px 70px 70px; */
}

.home-container::before {
    content: "";
    background-image: url("../img/background.jpeg");
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: 0.5;
    background-size: contain;
}

.add-farm-container {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 30px 70px 100px 70px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.add-farm-container button {
    width: 150px;
    height: 50px;
    background: lightgray;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}
