.left-side h1{
  margin: 0 40px;
  font-size: 1.5rem;
}

.form-custom {
  margin: 0 40px;
  font-size: 1.25rem;
}

.form-custom .form-control {
  margin-bottom: 15px; 
}

.align-items-center {
  align-items: center;
}

.left-side button[name="findfield"] {
  display: block; 
  margin: 0 auto;
}

.header-container{
  background-color: rgba(52, 58, 64, 0.5);
}

.form-group {
  margin-bottom: 0px; /* Adds space between form groups */
}

label {
  display: block; /* Makes label full width */
  margin-bottom: 10px; /* Adds space below label */
}

input[type="text"] {
  width: 100%; /* Text inputs take full width */
  max-width: 150px; /* Adjust as needed */
  padding: 8px; /* Adds padding inside text inputs */
  box-sizing: border-box; /* Includes padding in width */
}

button {
  display: block; /* Makes button full width */
  margin-top: 10px; /* Adds space above button */
}