  .form-custom {
    margin: 0 40px;
    font-size: 1.25rem;
  }

  .form-custom .form-control {
    margin-bottom: 15px; 
  }

  .align-items-center {
    align-items: center;
  }

  .left-side button[name="findfield"] {
    display: block; 
    margin: 0 auto;
  }

  /* .right-side {
    padding:0;
  } */