.sidebar {
    width: 340px;
    max-height: calc(100vh - 70px);
    background: rgba(52, 58, 64, 0.5); /* 0.5 is the opacity, adjust it to fit your needs */
    backdrop-filter: blur(10px); /* 10px is the blur radius, adjust it to fit your needs */
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar li {
    padding: 10px 0;
    cursor: pointer;
}

.sidebar h1 {
    border-bottom: solid;
}