.signin-container h1 {
  font-size: 70px;
  -webkit-text-stroke: 0.2px black;
  padding-top: 70px;
}

.signin-container h2 {
  font-size: 30px;
  -webkit-text-stroke: 0.1px black;
}

.signin-container p {
  text-align: center;
}

.signin-container {
  min-height: 100vh;
  min-width: 100vw;
  padding: 70px 150px 70px 70px;


  background: #2B2B2C;
  background-image: url("../img/background.jpeg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: clamp(800px, 40%, 1500px) auto;
  color: white;
}

.signin-form {
  font-style: italic;
  padding-top: 200px;
  padding-left: 250px;
  min-width: 500px;
  max-width: 800px;
}

/* Responsive styles for smaller screens (e.g., mobile) */
@media (max-width: 1595px) {
  .signin-container {
    /* background-size: cover; */
  }

  .signin-form {


  }
}

.form-label {
  margin-left: 13px;
  margin-top: 10px;
}

.signin-container .form-control {
  height: 50px;
  background-color: #2B2B2C;
  color: lightgray;
  border-color: gray;
  border-top: none;
  border-left: none;
  border-right: none;
}

.form-control:focus {
  color: lightgray;
  background-color: #2B2B2C;
}

.input-group-text {
  background-color: #2B2B2C;
  border: none;
}

input[type="email"]::-webkit-input-placeholder {
  font-style: italic;
  color: gray;
}

input[type="password"]::-webkit-input-placeholder {
  font-style: italic;
  color: gray;
}

.button-block {
  min-width: 100%;
  width: 100%;
}

.btn-success {
  font-style: italic;
}

.no-underline {
  text-decoration: none;
}