.start-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #2B2B2C;
    color: #fff;
}

.loading-stick {
    width: 0;
    height: 5px;
    background-color: green;
    animation: loading 5s forwards;
}

@keyframes loading {
    50% { width: 50%; }
}