.signup-container h1 {
    font-size: 70px;
    -webkit-text-stroke: 0.2px black;
    padding-top: 70px;
}

.signup-container h2 {
    font-size: 30px;
    -webkit-text-stroke: 0.1px black;
}

.signup-container p {
    text-align: center;
}

.signup-container {
    min-height: 100vh;
    min-width: 100vw;
    padding: 70px 150px 70px 70px;

    background: #2B2B2C;
    background-image: url("img/background.jpeg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: clamp(800px, 40%, 1500px) auto;
    color: white;
}

.signup-form {
    font-style: italic;
    padding: 70px 200px;
    min-width: 700px;
    min-height: 700px;
    max-height: 1000px;
    max-width: 1000px;

}

.form-label {
    margin-left: 13px;
    margin-top: 10px;
}

.signup-container .form-control {
    height: 50px;
    background-color: #2B2B2C;
    color: lightgray;
    border-color: gray;
    border-top: none;
    border-left: none;
    border-right: none;
}

.form-control:focus {
    color: lightgray;
    background-color: #2B2B2C;
}

.input-group-text {
    background-color: #2B2B2C;
    border: none;
}

input[type="text"]::-webkit-input-placeholder {
    font-style: italic;
    color: gray;
}

input[type="email"]::-webkit-input-placeholder {
    font-style: italic;
    color: gray;
}

input[type="password"]::-webkit-input-placeholder {
    font-style: italic;
    color: gray;
}


.button-block {
    min-width: 100%;
    width: 100%;
}

.btn-success {
    font-style: italic;
}